# Join Statements - Lab

## Introduction

In this lab, you'll practice your knowledge of join statements, using various types of joins and various methods for specifying the links between them.

## Objectives

You will be able to:
- Write queries that make use of various types of Joins
- Join tables using foreign keys

## CRM Schema

In almost all cases, rather then just working with a single table you will typically need data from multiple tables. 
Doing this requires the use of **joins ** using shared columns from the two tables. 

In this lab, you'll use the same Customer Relationship Management (CRM) database that you saw from the previous lesson.
<img src='images/Database-Schema.png' width="600">

## Connecting to the Database
Import the necessary packages and connect to the database **data.sqlite**.

In [8]:
#Your code here
import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

## Display the names of all the employees in Boston.
Hint: join the employees and customers tables.

In [9]:
#Your code here
cur.execute("""select firstName, lastName from employees join offices using(officeCode) where city = 'Boston';""")
cur.fetchall()

[('Julie', 'Firrelli'), ('Steve', 'Patterson')]

## Do any offices have no employees?
Hint: Combine the employees and offices tables and use a group by.

In [10]:
#Your code here
cur.execute("""select officeCode, count(officeCode) from employees 
                      join offices using (officeCode)
                      group by officeCode""")
df = pd.DataFrame(cur.fetchall())
df

   0  1
0  1  6
1  2  2
2  3  2
3  4  5
4  5  2
5  6  4
6  7  2

In [11]:
# No!

## Write 3 Questions of your own and answer them

In [12]:
# What is the average discount of each item?

cur.execute("""select productCode as product, count(productCode) as sales_num,
                      sum(MSRP) - sum(buyprice) as discount_per_item,
                      (sum(MSRP) - sum(buyprice)) / count(productCode) as average_discount
                      from products 
                      join orderdetails using (productCode)
                      group by productCode""")

df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
df

       product  sales_num  discount_per_item  average_discount
0     S10_1678         28            1312.92             46.89
1     S10_1949         28            3240.16            115.72
2     S10_2016         28            1398.60             49.95
3     S10_4698         28            2873.92            102.64
4     S10_4757         28            1408.96             50.32
5     S10_4962         28            1240.96             44.32
6     S12_1099         27            2679.21             99.23
7     S12_1108         27            3029.67            112.21
8     S12_1666         28            1645.56             58.77
9     S12_2823         28            2361.80             84.35
10    S12_3148         27            1672.38             61.94
11    S12_3380         27            1141.56             42.28
12    S12_3891         27            2429.19             89.97
13    S12_3990         27            1292.76             47.88
14    S12_4473         28            1758.40             62.80
15    S12_4675         27            1523.61             56.43
16    S18_1097         28            1633.52             58.34
17    S18_1129         27            1566.81             58.03
18    S18_1342         28            1179.36             42.12
19    S18_1367         28             830.20             29.65
20    S18_1589         25            1462.00             58.48
21    S18_1662         28            2251.76             80.42
22    S18_1749         25            2082.50             83.30
23    S18_1889         27             623.70             23.10
24    S18_1984         27            1305.72             48.36
25    S18_2238         28            1742.16             62.22
26    S18_2248         25             681.00             27.24
27    S18_2319         28            1340.36             47.87
28    S18_2325         28            1922.20             68.65
29    S18_2432         28            1003.80             35.85
..         ...        ...                ...               ...
79    S24_4048         27            1309.50             48.50
80    S24_4258         28            1118.04             39.93
81    S24_4278         28            1014.16             36.22
82    S24_4620         27            1309.77             48.51
83    S32_1268         28            1186.64             42.38
84    S32_1374         28             923.16             32.97
85    S32_2206         27             434.43             16.09
86    S32_2509         28             787.64             28.13
87    S32_3207         27             956.34             35.42
88    S32_3522         28             868.84             31.03
89    S32_4289         28            1001.56             35.77
90    S32_4485         27            1239.84             45.92
91    S50_1341         28             464.24             16.58
92    S50_1392         28            1328.88             47.46
93    S50_1514         27             569.43             21.09
94    S50_4713         27            1274.13             47.19
95   S700_1138         27             882.09             32.67
96   S700_1691         28            1125.32             40.19
97   S700_1938         27            1169.37             43.31
98   S700_2047         28            1419.32             50.69
99   S700_2466         28             865.76             30.92
100  S700_2610         27            1034.37             38.31
101  S700_2824         28            1529.36             54.62
102  S700_2834         28            1660.96             59.32
103  S700_3167         28             716.80             25.60
104  S700_3505         27            1325.16             49.08
105  S700_3962         27            1233.36             45.68
106  S700_4002         28            1057.28             37.76
107   S72_1253         28             472.92             16.89
108   S72_3212         27             575.10             21.30

[109 rows x 4 columns]

In [57]:
# Your code here
cur.execute("""select * from payments join customers
                      group by payments.customerNumber""")

df = pd.DataFrame(cur.fetchall())
df. columns = [i[0] for i in cur.description]
df

,customerNumber,checkNumber,paymentDate,amount,customerNumber,customerName,contactLastName,contactFirstName,phone,addressLine1,addressLine2,city,state,postalCode,country,salesRepEmployeeNumber,creditLimit
0,103,OM314933,2004-12-18,1676.14,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
1,112,ND748579,2004-08-20,33347.88,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
2,114,NR27552,2004-03-10,44894.74,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
3,119,NG94694,2005-02-22,49523.67,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
4,121,MA302151,2004-11-28,34638.14,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
5,124,NT141748,2003-11-25,45084.38,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
6,128,IP383901,2004-11-18,7466.32,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
7,129,PI42991,2003-04-09,16537.85,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
8,131,NB445135,2004-09-11,35321.97,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
9,141,NU627706,2004-05-17,26155.91,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
10,144,LA685678,2003-04-09,7674.94,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
11,145,JJ246391,2003-02-20,53959.21,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
12,146,LJ160635,2003-12-10,39712.10,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
13,148,ME497970,2005-03-27,3516.04,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
14,151,KI884577,2004-12-14,39964.63,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
15,157,NN711988,2004-09-07,63357.13,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
16,161,NI908214,2003-08-05,38675.13,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
17,166,LA318629,2004-02-28,22474.17,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
18,167,GN228846,2003-12-03,85024.46,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
19,171,IL104425,2003-11-22,42783.81,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
20,172,EH208589,2003-04-20,33383.14,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
21,173,IG462397,2004-03-29,20355.24,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
22,175,PI15215,2004-07-10,42044.77,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
23,177,CI381435,2004-01-19,47177.59,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
24,181,OH367219,2004-11-16,44400.50,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
25,186,KA602407,2004-10-21,34341.08,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
26,187,KL124726,2003-03-27,48425.69,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
27,189,NM916675,2004-03-01,32538.74,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
28,198,IS946883,2004-09-21,5858.56,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
29,201,OO846801,2004-06-15,37258.94,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,357,NB291497,2004-05-15,36442.34,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
69,362,OG208861,2004-09-21,15059.76,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
70,363,PN238558,2003-12-05,55425.77,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
71,379,GB890854,2004-08-02,12530.51,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
72,381,MS154481,2003-08-22,1128.20,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
73,382,PH29054,2004-11-27,42813.83,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
74,385,EK785462,2003-03-09,51001.22,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
75,386,HG438769,2004-07-18,51619.02,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
76,398,KB54275,2004-11-29,48927.64,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
77,406,NA197101,2004-06-17,25080.96,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
78,412,PJ434867,2004-04-14,31670.37,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
79,415,ER54537,2004-09-28,31310.09,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
80,424,OA595449,2003-10-31,22042.37,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
81,447,OU516561,2004-12-17,26304.13,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
82,448,KR822727,2004-09-30,48809.90,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
83,450,EF485824,2004-06-21,59551.38,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
84,452,HG635467,2005-05-03,8807.12,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
85,455,IR662429,2004-05-12,32239.47,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
86,456,MO743231,2004-04-30,1679.92,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
87,458,OO606861,2003-06-13,57131.92,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
88,462,PE176846,2004-11-27,48355.87,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
89,471,CO645196,2003-12-10,35505.63,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
90,473,PC688499,2003-10-27,17746.26,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
91,475,PB951268,2004-02-13,36070.47,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
92,484,JH546765,2003-11-29,47513.19,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
93,486,JB117768,2003-03-20,25833.14,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
94,487,PT550181,2004-02-29,12573.28,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
95,489,PO860906,2004-01-31,7310.42,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
96,495,FN155234,2004-05-14,6276.60,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00
97,496,MN89921,2004-12-31,52166.00,496,Kelly's Gift Shop,Snowden,Tony,+64 9 5555500,Arenales 1938 3'A',,Auckland,,,New Zealand,1612,110000.00

In [7]:
# Your code here

In [ ]:
# Your code here

## Level Up: Display the names of each product each employee has sold

In [ ]:
# Your code here

## Level Up: Display the Number of Products each employee has sold

In [ ]:
#Your code here

## Summary

Congrats! You now know how to use join statements, along with leveraging your foreign keys knowledge!